[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
dramatiq = "*"
flask-migrate = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flasgger = "*"

[dev-packages]
black = "*"
flake8 = "*"
flake8-docstrings = "*"
pep8-naming = "*"
pylint = "*"
watchdog = "*"
wheel = "*"

[requires]
python_version = "3.8"
