[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
dramatiq = {extras = ["rabbitmq", "redis", "watch"], version = "*"}
flask-migrate = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flasgger = "*"
psycopg2 = "*"
pypdf2 = "*"
flask-dramatiq = "*"
pika = "*"
pdf2image = "*"
marshmallow-enum = "*"
pdf-renderer = {editable = true, path = "."}

[dev-packages]
black = "*"
flake8 = "*"
flake8-docstrings = "*"
pep8-naming = "*"
pylint = "*"
pylint-flask-sqlalchemy = "*"
pylint-flask = "*"
watchdog = "*"
wheel = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
